.bottone1 a{
    color: #FFD700;
    background:linear-gradient(to bottom, #fedede 4%, #A52A2A 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fedede', endColorstr='#e50909',GradientType=0);
    box-shadow: 3px 3px 3px  #aaa; 
    text-shadow:2px 2px 2px #ccc;
    text-align:center; 
    padding:8px;
    text-decoration:none;
    border-radius:18px; 
    font-family:Georgia; 
    font-size:24px; 
    font-weight:bold;
}
.bottone1 a:hover {
    color:#1FE0C9;
    box-shadow: 2px 2px 2px  #aaa; 
    text-shadow:1px 1px 1px #ccc;
    text-decoration:none;
    position: relative;
    top:1px;
    left:1px;
}